DB_HOST=127.0.0.1
DB_NAME=nura_auth
DB_USER=root
DB_PASSWORD=your_mysql_password

MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB=nura_profiles
MONGO_COLLECTION=profiles

REDIS_HOST=127.0.0.1
REDIS_PORT=6379